$primary: #D4AF37;
$primary-light: #E5C378;
$primary-dark: #C5A059;

$secondary: #C5A059;
$secondary-light: #E5C378;
$secondary-dark: #A8862F;

$accent: #E5C378;
$accent-light: #F2E0B0;
$accent-dark: #C5A059;

$dark: #121212;
$dark-page: #131313;

$positive: #1A936F;
$positive-light: #23B582;
$positive-dark: #157D5A;

$negative: #D32F2F;
$negative-light: #E57373;
$negative-dark: #B71C1C;

$info: #2196F3;
$info-light: #64B5F6;
$info-dark: #1976D2;

$warning: #FFC107;
$warning-light: #FFD54F;
$warning-dark: #FFA000;